{{ set . "title" "My Orders" }}
{{template "header.html" .}}

<div class="uk-padding">
    <div class="uk-child-width-1" uk-grid>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                <thead>
                    <tr>
                        <th class="uk-table-shrink">ID</th>
                        <th class="uk-table-shrink">Cover</th>
                        <th class="uk-width-expand">Title</th>
                        <th class="uk-width-shrink">Published at</th>
                        <th class="uk-table-shrink">Payment Status</th>
                        <th class="uk-table-expand">Order Status</th>
                        <th class="uk-width-shrink">Purchased at</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $order := .orders  }}
                    <tr>
                        <td class="uk-text-truncate">{{ .OrderId }}</td>
                        <td><img class="uk-preserve-width" src="/public/img/{{ .Book.CoverImage }}" width="40" alt=""></td>
                        
                        <td class="uk-table-link">
                            <a class="uk-link-reset" href="">{{ .Book.Title }}</a>
                        </td>
                        <td class="uk-text-nowrap">{{ .PublishingDate }}</td>

                        <td>
                            <span class="uk-label uk-label-success">
                                Paid
                            </span>
                        </td>
                        <td>
                            <span class="uk-label uk-label-success">
                                On Transit
                            </span>
                        </td>

                        <td class="uk-text-nowrap">{{ .PurchaseDate }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{template "footer.html" .}}
