{{ set . "title" "Buy Books" }}
{{template "header.html" .}}

<div class="uk-padding">
  <div class="uk-child-width-1-5@m" uk-grid>
    {{ range $book := .books  }}
    <div>
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-left uk-cover-container">
            <img src="/public/img/{{ .CoverImage }}" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{ .Title }}</h3>
                <p>Price: {{ .Price }} Birr</p>
              <div class="uk-card-badge uk-label uk-position-center-right">Programming</div>

            </div>
            <div>
              <a class="uk-button uk-button-text uk-padding-small uk-position-bottom-left" uk-toggle="target: #express-checkout">Buy this Book</a>
              <a class="uk-button uk-button-text uk-padding-small uk-position-bottom-right" uk-toggle="target: #add-to-cart" onclick="document.getElementById('cartitem_bookid').value = {{ .BookId }}">Add to Cart</a>
            </div>
          </div>
    </div>
    {{end}}
    </div>
  </div>
</div>
<div id="my-id" uk-offcanvas="flip: true">
  sdf
</div>

{{template "footer.html" .}}
