{{ set . "title" "Buy Books" }}
{{template "header.html" .}}

<div class="uk-padding">
  <div class="uk-child-width-1-5@m" uk-grid>
    {{ range $book := .books  }}
    <div>
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-left uk-cover-container">
            <img src="/public/img/{{ .CoverImage }}" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{ .Title }}</h3>
                <p>Price: {{ .Price }} Birr</p>
              <div class="uk-card-badge uk-label uk-position-center-right">Programming</div>

            </div>
            <div>
              <a class="uk-button uk-button-text uk-padding-small uk-position-bottom-left" uk-toggle="target: #express-checkout">Buy this Book</a>
              <a href="AddToCart/{{ .BookId }}" class="uk-button uk-button-text uk-padding-small uk-position-bottom-right">Add to Cart</a>
            </div>
          </div>
    </div>
    {{end}}
    </div>
  </div>
</div>
<div id="my-id" uk-offcanvas="flip: true">
  sdf
</div>

<div id="cart-checkout" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar"  style="width: 550px">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h3>My Cart</h3>

        <p>
          <b>Items:</b>
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Automate The Boring Stuff</div>
            <div>20.90 Birr</div>
            <a href="#" uk-icon="icon: close"></a>
          </div>
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Go Bootcamp: 2nd Edition</div>
            <div>12.90 Birr</div>
            <a href="#" uk-icon="icon: close"></a>
          </div>
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Get Programming With Go</div>
            <div>20.90 Birr</div>
            <a href="#" uk-icon="icon: close"></a>
          </div>

          <hr>

          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Tax:</div>
            <div>11.49 Birr</div>
          </div>
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Discount:</div>
            <div>0.0 Birr</div>
          </div>
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader>Total Cost:</div>
            <div>114.90 Birr</div>
          </div>
        </p>

        <button class="uk-button uk-button-primary uk-width-expand" type="button"
          onclick="location='#'">
          <a href="#" uk-icon="icon: credit-card"></a>
          Checkout (YenePay)
        </button>
    </div>
</div>

<div id="express-checkout" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h3>Buy this item</h3>

        <p>
          Quantity:
          <div class="uk-margin">
            <input class="uk-input" type="number" placeholder="Amount">
          </div>

        </p>

        <button class="uk-button uk-button-primary uk-width-expand" type="button"
          onclick="location='#'">
          <a href="#" uk-icon="icon: credit-card"></a>
          Pay with YenePay
        </button>

    </div>
</div>

{{template "footer.html" .}}
