<!DOCTYPE html>
<html>
	<head>
        <title>Application error</title>
        <link rel="stylesheet" href="/public/css/uikit.min.css" />
	</head>
	<body class="uk-padding-large">
		<div class="uk-section uk-margin-large">
            <div class="uk-container">
        
                <h3>Application Error:</h3>
        
                <div class="uk-grid-match" uk-grid>
                    <div>
                        {{.Error}}
                    </div>
                </div>
        
            </div>
        </div>
	</body>
</html>
