<!DOCTYPE html>
<html>
  <head>
    <title>{{ .title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/uikit.min.css" />
    <script src="/public/js/uikit.min.js"></script>
    <script src="/public/js/uikit-icons.min.js"></script>
    <script>
      const cartitem = {
        book_id: null,
        quantity: null
      }
    </script>
  </head>

  <body>
    <nav class="uk-navbar-container uk-margin" uk-navbar>
      <div class="uk-navbar-center">
        <a class="uk-navbar-item uk-logo uk-text-large" href="{{ url "Application.Index" }}">
          <span uk-icon="icon: tag" class="uk-text-primary"></span>YeneShop
          <span class="uk-text-primary" style="padding-left: 4px;">Go!</span>
        </a>

        {{ if .user }}
          <div class="uk-align-right@s uk-margin-small">
            <button class="uk-button uk-button-text uk-padding-small" type="button">
              <a href="#" uk-icon="icon: bell"></a>
              Notifications
            </button>
            <div uk-drop="boundary: .boundary">
              <div class="uk-card uk-card-body uk-card-default">You could implement notifications here (on successful transactions, etc..)</div>
            </div>
          </div>
          <a href="{{ url "Orders.Index" }}" class="uk-button uk-button-text uk-padding-small">
            My Orders
          </a>

          <button class="uk-button uk-button-default" type="button" uk-toggle="target: #cart-checkout">
            <span class="uk-badge">{{ .session.cartcount }}</span>
            <a href="#" uk-icon="icon: cart"></a>
            My Cart
          </button>

          <div class="uk-align-right@s uk-margin-small">
            <button class="uk-button uk-button-default" type="button">
              <a href="#" uk-icon="icon: user"></a>
              {{ .user.Username }}
            </button>
            <div uk-drop="boundary: .boundary">
              <div class="uk-card uk-card-body uk-card-default uk-card-small">
                <div class="uk-padding-small">
                  Signed In as: {{.user.Name}}
                  <br />
                  <br />
                  Account Balance: 200 Birr
                </div>

                <button class="uk-button uk-button-default uk-width-expand uk-button-primary" type="button"
                  onclick="location={{ url "Application.Logout"}}">
                  <a href="#" uk-icon="icon: sign-out"></a>
                  Sign out
                </button>
              </div>
            </div>
          </div>

          <div id="cart-checkout" uk-offcanvas="flip: true; overlay: true">
            <div class="uk-offcanvas-bar"  style="width: 550px">
        
                <button class="uk-offcanvas-close" type="button" uk-close></button>
        
                <h3>My Cart</h3>
        
                <p>
                  <b>Items:</b>
                  {{ if .session.cartitems }}
                    {{ range $cartitem := .session.cartitems }}
                      <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand" uk-leader>{{ .Book.Title }}</div>
                        <div>{{ .Price }} Birr ( {{ .Quantity }} x {{.Book.Price}} Br.)</div>
                        <a href="{{ url "Cart.RemoveItem" }}?book_id={{ .Book.BookId }}" uk-icon="icon: close"></a>
                      </div>
                    {{ end }}
                  {{ else }}
                    <div class="uk-grid-small" style="padding-left:  20px;" uk-grid>No item found</div>                     
                  {{ end }}
                  <hr>
        
                  <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand" uk-leader>Tax:</div>
                    <div>11.49 Birr</div>
                  </div>
                  <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand" uk-leader>Discount:</div>
                    <div>0.0 Birr</div>
                  </div>
                  <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand" uk-leader>Total Cost:</div>
                    <div>114.90 Birr</div>
                  </div>
                </p>
        
                <button class="uk-button uk-button-primary uk-width-expand" type="button"
                  onclick="location='#'">
                  <a href="#" uk-icon="icon: credit-card"></a>
                  Checkout (YenePay)
                </button>
            </div>
        </div>
        
        <div id="express-checkout" uk-offcanvas="flip: true; overlay: true">
            <div class="uk-offcanvas-bar">
              <form action="{{ url "Cart.ExpressCheckout" }}" method="POST">
        
                <button class="uk-offcanvas-close" type="button" uk-close></button>
        
                <h3>Buy this item</h3>
                
                <input type="hidden" id="express_bookid" name="book_id" value="1"/>

                <p>
                  Quantity:
                  <div class="uk-margin">
                    <input class="uk-input" type="number" placeholder="Amount" name="quantity">
                  </div>
        
                </p>
        
                <button class="uk-button uk-button-primary uk-width-expand" type="submit">
                  <a uk-icon="icon: credit-card"></a>
                  Pay with YenePay
                </button>

              </form>
            </div>
        </div>

        <div id="add-to-cart" uk-offcanvas="flip: true; overlay: true">
            <div class="uk-offcanvas-bar">
              <form action="{{ url "Cart.AddItem" }}" method="POST">
        
                <button class="uk-offcanvas-close" type="button" uk-close></button>
        
                <h3>Add Book to My Cart</h3>
                
                <input type="hidden" id="cartitem_bookid" name="book_id" value="1"/>

                <p>
                  Quantity:
                  <div class="uk-margin">
                    <input class="uk-input" type="number" placeholder="Amount" name="quantity">
                  </div>
        
                </p>
        
                <button class="uk-button uk-button-primary uk-width-expand" type="submit">
                  Add To Cart
                </button>
              </form>
            </div>
        </div>
        
        


        {{end}}

      </div>
    </nav>